.banner1Div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 56vh;


    background-color: rgb(14, 14, 14);
}
.banner1 {
    height: 320px;
    width: auto;
    border-radius: 10px;
}

.houseDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 90vh;
}

.houseTitle {
    font-size: 68px;
    font-weight: 300;
    color: rgb(255, 255, 255);

    transition: 200ms;
}

.houseTitle:hover {
    letter-spacing: 1px;
    transition: 200ms;    
}